---
// Import styles
import './menu.scss';
---

<nav class="menu">
  <div class="left-menu">
    <a href="/">julienc.io</a>
  </div>
  <div class="right-menu">
    <a href="/about">about</a>
    <a href="/blog">blog</a>
    <a href="/contact">contact</a>
  </div>
</nav>
