@import './globals';

// lato regular
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regulat'), local('Lato-Regulat'),
       url('./assets/fonts/lato-v16-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/lato-v16-latin-regular.woff') format('woff');
}

// lato 700
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('./assets/fonts/lato-v16-latin-700.woff2') format('woff2'),
       url('./assets/fonts/lato-v16-latin-700.woff') format('woff');
}

// source-code-pro-regular
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
       url('./assets/fonts/source-code-pro-v11-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/source-code-pro-v11-latin-regular.woff') format('woff');
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include color-transition;

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: auto;
  max-width: 1400px;
  min-height: 400px;
  min-width: 300px;

  > div {
    height: calc(100% - 20px);
    padding: 10px;
  }
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:visited {
  @include color-transition;

  color: var(--color-text);
  text-decoration: none;
  transition: color .5s ease-in;
}

p a {
  border-bottom: 1px solid var(--color-emphasis);
}

hr {
  border: 0;
  margin: 0;
  padding: 0;

  &::after {
    color: var(--color-emphasis);
    content: '//';
    display: flex;
    font-size: 3rem;
    justify-content: flex-start;
    margin: 10px 0 50px;
    width: 100%;
  }
}
