$oil: #111;
$red: #e11;
$white: #fff;

// additional colors for syntax highlighting
$lightblue: #4cc;
$lightgreen: #4c4;

$color-background: $white !default;
$color-emphasis: $red !default;
$color-text: $oil !default;

:root {
  --color-background: #{$color-background};
  --color-emphasis: #{$color-emphasis};
  --color-text: #{$color-text};
}

@mixin color-transition {
  transition: color 0.5s ease-in, background-color 0.5s ease-out;
}
