$oil: #111;
$red: #e11;
$white: #fff;

// additional colors for syntax highlighting
$lightblue: #4cc;
$lightgreen: #4c4;

:root {
  --color-background: #{$white};
  --color-emphasis: #{$red};
  --color-text: #{$oil};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #{$oil};
    --color-emphasis: #{$red};
    --color-text: #{$white};
  }
}

@mixin color-transition {
  transition: color 0.5s ease-in, background-color 0.5s ease-out;
}
